# Created by https://www.toptal.com/developers/gitignore/api/windows,web
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,web

### Web ###


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.vscode
# Dump file
*.stackdump
react-dom.js
babel.js
react.js
# Folder config file
[Dd]esktop.ini
package-lock.json
# Recycle Bin used on file shares
$RECYCLE.BIN/
.json
# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
package.json
# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,web